@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

$primary-color: grey;
$font-stack: 'Arvo', serif;

body {
  background-color: $primary-color;
  color: $primary-color;
  height: 100vh;
  display: flex;
  align-items: center;
}

a {
  color: $primary-color;
}

.jumbotron {
  text-align: center;
  margin: auto 15vw;
  width: 70vw;
  padding: 5%;
}

#quote-text {
  height: 50%;
  font: 200% $font-stack;
  text-align: center;
}
#quote-author {
  height: 25%;
  font: 125% $font-stack;
  text-align: right;
  padding-right: 15px;
}
#btn-row {
  height: 25%;
  font: 125% $font-stack;
}
.SMbuttons {
  text-align: left;
}
.newQuoteButton {
  text-align: right;
}
.fab {
  font-size: 2.5rem
}
.button {
  background-color: $primary-color;
  color: #e9ecef;
  border: none;
  height: 150%;
}
